body {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh; /* Żeby tło zajmowało cały ekran */
}

a {
  color: #00d4ff;
  text-decoration: none;
}